<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/home']" aria-label="home">
    <mat-icon>storefront</mat-icon>
  </button>
  <span
    class="brand"
    [routerLink]="['/home']"
    style="cursor: pointer; margin-left: 8px"
    >Angular Store</span
  >
  <span class="spacer"></span>

  <a mat-button [routerLink]="['/home']">Produtos</a>
  <a mat-button [routerLink]="['/admin']">Admin</a>

  <div class="btns">
    <button
      mat-icon-button
      (click)="openCart.emit()"
      [matBadge]="cart.totalItems()"
      aria-label="carrinho"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      @if (auth.isLoggedIn()) {
      <span>Minha conta</span>
      } @else{
      <span>Visitante</span>
      }
    </button>

    <mat-menu #userMenu="matMenu">
      @if (!auth.isLoggedIn()) {
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        <span>Entrar</span>
      </button>
      } @else {
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
